{% extends 'index.html' %}

{% load static %}

{% block titulo %}Contacto{% endblock titulo %}

{% block imagen %}{% static 'img/contacto.jpg' %}{% endblock imagen %}

{% block titulo_secundario %}Contacto{% endblock titulo_secundario %}


{% block barra_busqueda %}{% endblock barra_busqueda %}


{% block contenido_principal %}

<div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
          <p>...en desarrollo...</p>
          <form name="sentMessage" id="contactForm">
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Nombre</label>
                <input type="text" label="nombre" class="form-control" placeholder="Nombre" id="name">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Email</label>
                <input type="email" class="form-control" placeholder="Email" id="email">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group col-xs-12 floating-label-form-group controls">
                <label>Número De Teléfono</label>
                <input type="tel" class="form-control" placeholder="Número De Teléfono" id="phone">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Mensaje</label>
                <textarea rows="5" class="form-control" placeholder="Mensaje" id="message"></textarea>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <br>
            <div id="success"></div>
            <button type="submit" class="btn btn-primary" id="sendMessageButton">Enviar</button>
          </form>
        </div>
      </div>
    </div>
  
    <hr>

{% endblock contenido_principal %}
