{% extends 'index.html' %}

{% load static %}

{% block titulo %}Contacto{% endblock titulo %}

{% block imagen %}{% static 'img/contacto.jpg' %}{% endblock imagen %}

{% block titulo_secundario %}Contacto{% endblock titulo_secundario %}


{% block barra_busqueda %}{% endblock barra_busqueda %}


{% block contenido_principal %}

{% if name %}
<center>
  <h2>Gracias {{ name }}!</h2>
  <p>Recibí tu mensaje y estaremos en contacto brevemente.</p>
  <br>
  <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
    <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6">
      <div class="clearfix">
        <a href="{% url 'blog:index' %}" class="btn btn-primary float-center">Ir a Inicio</a>
      </div>
    </div>
  </div>
</center>
<br>
{% else %}
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <form action="{% url 'blog:contacto' %}" method="post">
        {% csrf_token %}
        <div class="control-group">
          <div class="form-group floating-label-form-group controls">
            <label>Nombre y Apellido</label>
            <input type="text" label="nombre" class="form-control" placeholder="Nombre y Apellido" name="name" required>
            <p class="help-block text-danger"></p>
          </div>
        </div>
        <div class="control-group">
          <div class="form-group col-xs-12 floating-label-form-group controls">
            <label>Número De Teléfono</label>
            <input type="tel" class="form-control" placeholder="Número De Teléfono" name="phone" required>
            <p class="help-block text-danger"></p>
          </div>
        </div>
        <div class="control-group">
          <div class="form-group floating-label-form-group controls">
            <label>Mensaje</label>
            <textarea rows="5" class="form-control" placeholder="Mensaje" name="message" required></textarea>
            <p class="help-block text-danger"></p>
          </div>
        </div>
        <br>
        <div id="success"></div>
        <button type="submit" class="btn btn-primary" id="sendMessageButton">Enviar</button>
      </form>
    </div>
  </div>
</div>

<hr>
{% endif %}
{% endblock contenido_principal %}
